<nav class="admin-nav">
    <ul class="nav-list">
      <li class="nav-list-item">
        <a routerLink="dashboard"><i class="fas fa-home mr-2"></i> Dashboard</a>
      </li>
      <li class="nav-list-item">
        <a routerLink="posts"><i class="far fa-newspaper mr-2"></i> Posts</a>
      </li>
      <li class="nav-list-item">
        <a routerLink="comments"><i class="fas fa-comments mr-2"></i> Comments</a>
      </li>
      <li class="nav-list-item">
        <a routerLink="settings"><i class="fas fa-cog mr-2"></i>Settings</a>
      </li>
     
    </ul>
  </nav>