<div class="social d-md-flex justify-content-between">
  <button (click)="likePost(post.id)" class="btn btn-c  mr-2 mr-md-0"><i class="fas fa-heart"></i> {{ post?.likes }}</button>
  <button shareButton="facebook" class="btn btn-c  btn-facebook mr-2 mr-md-0"><i class="fab fa-facebook-f"></i></button>
  <button shareButton="twitter" class="btn btn-c  btn-twitter mr-2 mr-md-0"><i class="fab fa-twitter"></i></button>
  <button shareButton="pinterest" class="btn btn-c  btn-pinterest mr-2 mr-md-0">
    <i class="fab fa-pinterest-p"></i>
  </button>
</div>
