<div class="part mb-4">
  <ng-container *ngIf="post?.img.small.length >= 5 ? false : true">
    <label for="post-image" class="d-block h6 font-weight-bold  mr-3">Add an image </label>
    <input type="file" id="post-image" (change)="selectFile($event)" accept="image/*" #fileUploader class="mb-3" />
  </ng-container>

  <ng-container *ngIf="imagePreview">
    <img [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)" class="image-preview mb-3" />
  </ng-container>
  <app-progress-bar [imagePreview]="imagePreview" [progress]="progress" #progress></app-progress-bar>

  <button type="button" class="btn btn-success" *ngIf="selectedFiles" (click)="upload()">Upload</button>
  <br />

  <div class="card p-2 border-0">
    <app-uploaded-images  (setCoverPhotoEE)="setCoverPhoto($event)" [allUploaded]="allUploaded" (deleteImageFromNewPostEE)="deleteImageFromNewPost($event)"></app-uploaded-images>
  </div>
</div>
