@import '~normalize.css/normalize.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
html {
  box-sizing: border-box;
  //
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  color: #555;
  font-size: 0.8rem;
  overflow-y: scroll;
  background-color: #f5f5f5;
}

.smf {
  font-size: 0.7rem;
}
.mdf {
  font-size: 0.8rem;
}
.lgf {
  font-size: 1rem;
}

input.form-control {
  font-size: 0.85rem;
}

::-moz-selection {
  background: #d8eccd;
  text-shadow: none;
}

::selection {
  background: #d8eccd;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: #222;

  &:hover {
    color: #555;
    text-decoration: none;
  }

  &:active {
    color: #ddd;
  }
}

ul {
  margin-bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.8rem;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
::-webkit-input-placeholder {
  font-style: italic;
  color: #ddd;
}
::-moz-placeholder {
  font-style: italic;
  color: #ddd;
}
:-ms-input-placeholder {
  font-style: italic;
  color: #ddd;
}
:-moz-placeholder {
  font-style: italic;
  color: #ddd;
}
.btn-c {
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
  font-size: 0.7rem;
  padding: 0 12px;
  line-height: 28px;
  background-color: #ededed;
  border: 1px solid #ededed;
  cursor: pointer;
  text-decoration: none;
  color: #444;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  box-shadow: 0 0 0 transparent;
  &-link {
    background-color: transparent;
    border: none;
    &:hover {
      background-color: transparent;
    }
  }
  &:hover {
    background-color: #ddd;
  }
}
.list-group-item {
  border: none;
  margin-bottom: 5px;
}
.ngx-pagination .current {
  background-color: #fff;
  color: #000;
}